*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.orderInnerDiv{
   margin-top: 100px;
    width: 80%;
    margin: auto;
    background-color: rgb(216, 224, 230);
    display: flex;
    justify-content: space-between;
    
     
  }
.leftDiv{
  border: 4px solid rgb(185, 170, 170);
  width: 48%;
   
}
.rightDiv{
  border: 4px solid rgb(185, 170, 170);
    width: 48%;

}

.innerContainer{
  align-items: flex-start;
  border: 0px solid rgb(255, 255, 255);
  /* display: flex; */
}

.id{
  border: 0px solid rgb(16, 134, 119);
  align-items: flex-start;
   display: flex;
}
   h4{
  color: rgb(0, 0, 0);
  
  }
   span{
    font-size: 25px; 
    font-weight: bold;
    color: rgb(0, 0, 0);
  }